html {
    height: 100%;
    background-color: #f2f4f8;
}

.container {
    max-width: 1000px;
    background-color: #ffffff;
    box-shadow: 5px 5px 4px rgba(0, 0, 0, 0.1);
    border-radius: 12px;
    padding: 32px;
}